<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CSS3制作下拉工具条</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/headerbar.css">
</head>
<body>
    <header class="headers">
        <h3>制作下拉工具条</h3>
    </header>
    <section class="dropdownlistBox">
        <ul class="dropdownlist">
            <li class="list">
                <div class="list_wrapper">
                    <a href="#">#</a>
                    <ul>
                        <li class="item_1"><a href="#1">"</a></li>
                        <li class="item_2"><a href="#2">$</a></li>
                        <li class="item_3"><a href="#3">!</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
</body>
</html>