<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>3d标签云</title>
    <link rel="stylesheet" href="../css/demo_1.css">
    <script type="text/javascript" src="../js/demo_1.js"></script>
</head>
<body>
<div id="div1">
    <a href="http://www.zhinengshe.com">JS课程</a>
    <a href="http://www.zhinengshe.com/" class="red">教程</a>
    <a href="http://www.zhinengshe.com" class="blue">试听</a>
    <a href="http://www.zhinengshe.com" class="yellow">精品</a>
    <!--<a href="http://www.zhinengshe.com" class="blue">智能社</a>-->
    <!--<a href="#">SEO</a>-->
    <!--<a href="http://www.zhinengshe.com" class="red">特效</a>-->
    <!--<a href="#" class="yellow">JavaScript</a>-->
    <!--<a href="#">智能社</a>-->
    <!--<a href="#" class="red">CSS</a>-->
    <!--<a href="#">求职</a>-->
    <!--<a href="#" class="blue">面试题</a>-->
    <!--<a href="http://www.zhinengshe.com/">继承</a>-->
    <!--<a href="http://www.zhinengshe.com/" class="red">智能社</a>-->
    <!--<a href="http://www.zhinengshe.com/" class="blue">OOP</a>-->
    <!--<a href="http://www.zhinengshe.com/">XHTML</a>-->
    <!--<a href="http://www.zhinengshe.com/" class="blue">HTML5</a>-->
    <!--<a href="http://blog.zhinengshe.com/">W3C</a>-->
    <!--<a href="http://blog.zhinengshe.com/">css3</a>-->
    <!--<a href="http://www.zhinengshe.com/" class="yellow">Busy</a>-->
    <!--<a href="http://blog.zhinengshe.com/">blue</a>-->
</div>

</body>
</html>